build/*
.DS_Store
data_output/*
logs/*
plots/*
!.placeholder
*.out
process-palette.json
*.pyc
data_analysis/.*
matplotlibrc
old_*
!feasibility/*.out
!local_dynamical_stability/*.out
!largest_eigenvalue/*.out
!structural_stability/*.out

text/*

!text/*.pdf
!text/*.tex
!text/*.sty

!text/figures
!text/feasibility/*.tex
!text/dyn_stab/*.tex
!text/struct_stab/*
