build/*
.DS_Store
._.DS_Store
data_output/*
logs/*
plots/*
!.placeholder
*.out
process-palette.json
*.pyc
data_analysis/.*
matplotlibrc
old_*
!feasibility/*.out
!local_dynamical_stability/*.out
!largest_eigenvalue/*.out
!structural_stability/*/*.out
consumers_resources


text/*

!text/*.pdf
!text/*.tex
!text/*.sty
!text/*.md

!text/figures
!text/feasibility
!text/dyn_stab
!text/struct_stab

!results/*all_data*.out

presentation/*
!presentation/*.pdf
!presentation/figures
