build/*
.DS_Store
data_output/*
logs/*
plots/*
!.placeholder
*.out
process-palette.json
*.pyc
data_analysis/.*
matplotlibrc
old_*
!feasibility/*.out
!local_dynamical_stability/*.out
!largest_eigenvalue/*.out
!structural_stability/*/*.out

text/*

!text/*.pdf
!text/*.tex
!text/*.sty

!text/figures
!text/feasibility
!text/dyn_stab
!text/struct_stab


presentation/*
!presentation/*.pdf
!presentation/figures

optimal_matrices/consumption/Nr25_Nc25/RandTrix_Nr25_Nc25_Nest0.1_Conn0.0832_optimal_alpha.txt_unconstrained_energy
